<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Cómo Funciona?</h2>
                    <h3 class="section-subheading text-muted">Este es un torneo sin fines de lucro y a beneficio de estudiantes con dificualtades para financiar sus estudios.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Primero</h4>
                                    <h4 class="subheading">Regístrate</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">siguiendo el botón en esta misma página o <a href="https://forms.gle/igwGRz4yEeKZCXQ86" target="_blank">aquí</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Segundo</h4>
                                    <h4 class="subheading">Entra al torneo de Lichess</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> entra a ....</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ya estás list@</h4>
                                    <h4 class="subheading">Ayúdanos a dar una mano</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comparte este torneo en tus redes y amistades para llegar a la mayor cantidad de personas y generar un mayor impacto mientras disfrutamos de unas buenas partidas</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Disfruta el torneo!</h4>
                                    <h4 class="subheading">Disfruta el torneo!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Disfrutemos este torneo hecho con tanto cariño, el link al torneo es ...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Gracias
                                    <br>Por
                                    <br>Formar Parte</h4>
                            </div>
                        </li>
                    </ul>
                    <a href="https://forms.gle/igwGRz4yEeKZCXQ86" class="btn btn-xl" target="_blank">Inscribirme!</a>
                </div>
            </div>
        </div>
    </section>
